language: node_js
node_js:
  - '12'
cache:
  directories:
    - node_modules
script:
  - npm run test:unit
  - npm run test:e2e
after_script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
